<div class="container-fluid content">
    <div class="card m-4">
        <div class="card-header">
            List item component use example
        </div>
        <div class="card-body">
            <app-list [items]="items" [template]="itemTemplate">
            </app-list>
            <ng-template #itemTemplate let-item="item">
                <div class="d-flex flex-column bd-highlight">
                    <div class="p-2 bd-highlight">
                        <h4> {{item.name}}</h4>
                    </div>
                    <div class="p-2 bd-highlight">{{item.description}}</div>
                </div>
            </ng-template>
        </div>
    </div>



    <div class="card m-4">
        <div class="card-header">
            Find item pipe example use
        </div>
        <div class="card-body">
            Item with id {{selectedId}} is found: {{selectedId | findItem: 'id': items: 'name'}}
        </div>
    </div>

    <div class="card m-4">
        <div class="card-header">
            Toastr service component example use
        </div>
        <div class="card-body">
            <button type="button" (click)="showSuccessMessage()" class="btn btn-success m-1">Show Success
                message</button>
            <button type="button" (click)="showErrorMessage()" class="btn btn-danger m-1">Show error message</button>
            <button type="button" (click)="showWarningMessage()" class="btn btn-warning m-1">Show warning
                message</button>
            <button type="button" (click)="showInformationMessage()" class="btn btn-info">Show information
                message</button>
        </div>
    </div>
    <div class="card m-4">
        <div class="card-header">
            Spinner overlay component example use
        </div>
        <div class="card-body">
            <button type="button" (click)="showSpinner()" class="btn btn-outline-primary">Show spinner</button>
        </div>
    </div>

    <div class="card m-4">
        <div class="card-header">
            Modal component example use
        </div>
        <div class="card-body">
            <button type="button" (click)="modal.open()" class="btn btn-primary">Open ikubinfo academy modal</button>
        </div>
    </div>

    <app-modal #modal>
        <h2 modal-header>Modal title</h2>
        <div class="row" modal-body>
            Modal body
        </div>
        <div class="button-group" modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary ml-1">Save</button>
        </div>
    </app-modal>

    <div class="card m-4">
        <div class="card-header">
            Confirmation example use
        </div>
        <div class="card-body">
            <button type="button" (click)="confirmation.openModal()" class="btn btn-primary">Open ikubinfo academy
                confirmation</button>
        </div>
    </div>

    <app-cart header="Test Card" title="This is a test title" desc="This is a test description">
    </app-cart>

    <div class="card m-4">
        <div class="card-header">
            Badge Example
        </div>
        <div class="card-body">
            <app-badges text="Tekst example" type="dark"></app-badges>
        </div>
        
    </div>
    

    <app-confirmation #confirmation title="Konfirmim" message="Je i sigurt per kete veprim ?">
    </app-confirmation>
</div>

<app-toastr></app-toastr>
